{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
        {% csrf_token %}
        <h2>Register</h2>
        <hr>

        {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" name="first_name" id="first_name" required>
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="last_name" required>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>

        <p>Already have an account? <a href="/login/">Login</a></p>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}